<div class="">
  <h2>{{blog_name}}</h2>
  <br>
  <p>{{blog_desc}}</p>
  <br>
  <p>{{blog_links}}</p>
  <br>
  <p>{{related_topics}}</p>
  <br>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>