<!-- Loop over each object in the recipes array -->
{{#each blogs as |blog| }}
<div class="row mb-4 recipe">
  <div class="col-md-5">
    <h2>
      <a class="link" href="/blog/{{blog.id}}">{{recipe.blog_name}}</a>
    </h2>
    <p>
      {{recipe.blog-desc}}
    </p>
    <p>Submitted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
</div>
{{/each}}